<template>
  <form>
    <div v-for="step in steps" :key="step.id">
      
      <slot name="header"
            :step="step">
      </slot>

      
      <slot :name="`header_${step.id}`"
            :step="step"
            :saved="save" />
    </div>
  </form>
</template>

<script>
export default {
  props: {
    steps: Array
  },

  methods: {
    save() {
      // ... Saving logic
    }
  }
}
</script>
