<template>
  <div class="grid-container full all-time-record">
    <div class="display-body grid-x">
      <div class="cell column-display large-auto">
        <h3>
          ALL TIME RECORD
        </h3>
        <table>
          <thead>
            <tr>
              <th>
                Charlie
              </th>
              <th>
                Charlie
              </th>
              <th>
                Charlie
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                {{ score }}
              </td>
              <td>
                {{ score }}
              </td>
              <td>
                {{ score }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "AllTimeRecord",
    data() {
      return {
        score: 12
      }
    }
  }
</script>

<style lang="scss">
  .all-time-record {
    margin-bottom: 20px;
  }
</style>
