  <template>
    <div class="home">
      <div class="grid-container full top-stats">
        <div class="display-body grid-x">
          <div class="cell column-display large-auto">
            <h3>
              MATCH
            </h3>
            <table v-for="match in matches" :key="match.match_id">
              <thead><tr><th colspan="2">{{ match.opponent1_name }} vs {{ match.opponent2_name }}</th></tr></thead>
              <tbody>
                <tr>
                  <td>{{ match.opponent1_score }}</td>
                  <td>{{ match.opponent2_score }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="cell large-auto column-display large-offset-1">
            <h3>
              GAMES PLAYED
            </h3>
            <table v-for="match in matches" :key="match.match_id">
              <thead><tr><th colspan="2">{{ match.opponent1_name }} vs {{ match.opponent2_name }}</th></tr></thead>
              <tbody>
                <tr>
                  <td>{{ parseInt(match.opponent1_score) + parseInt(match.opponent2_score)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="cell large-auto column-display large-offset-1">
            <h3>
              WIN PERCENTAGE
            </h3>
            <table v-for="match in matches" :key="match.match_id">
              <thead><tr><th colspan="2">{{ match.opponent1_name }} vs {{ match.opponent2_name }}</th></tr></thead>
              <tbody>
                <tr>
                  <td>{{ getRatio(parseInt(match.opponent1_score), parseInt(match.opponent2_score))}}%</td>
                  <td>{{ getRatio(parseInt(match.opponent2_score), parseInt(match.opponent1_score))}}%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <all-time-record />
      <win-ratio />
      <win-percentage />
    </div>
</template>
<script>
  // @ is an alias to /src
  import { mapActions } from 'vuex';
  import MultiStepForm from '../components/slots/MultiStepForm';
  import AllTimeRecord from '../components/AllTimeRecord/AllTimeRecord';
  import WinPercentage from '../components/WinPercentage/WinPercentage';
  import WinRatio from '../components/WinRatio/WinRatio';

  export default {
    name: 'Home',
    components: {
      MultiStepForm,
      AllTimeRecord,
      WinPercentage,
      WinRatio
    },
    data() {
      return {
        steps: [
          {
            id: 'step-1',
            title: 'First step',
            firstName: 'edward'
          },
          {
            id: 'step-2',
            title: 'Second step'
          }
        ]
      }
    },
    methods: {
      ...mapActions({
        fetchAllPloolStatsInfo: 'getAllPoolStatsInfo'
      }),
      getRatio(playerA, playerB) {
        let ratio = playerA / (playerA + playerB) * 100;
        return ratio;
      }
    },
    computed: {
      player1Info() {
        return this.$store.getters.getPlayer1;
      },
      player2Info() {
        return this.$store.getters.getPlayer2;
      },
      player3Info() {
        return this.$store.getters.getPlayer3;
      },
      matches() {
        return this.$store.getters.getMatches;
      }
    },
    created() {
      this.fetchAllPloolStatsInfo();
    }
  }
</script>
<style lang="scss">
  .top-stats {
    margin-bottom: 50px;
  }
  .home
  {
    width: 90%;
    margin: auto;
  }

  .column-display
  {
    h3 {
      background-color: #004d7f;
      color: #FFFFFF;
      font-weight: 700;
      margin: 0;
    }
  }

  .column-content
  {
    border: 1px solid black;
    padding-top: 5px;
  }

  table
  {
    margin-bottom: 0;
    thead {
      th {
        word-spacing: 40px;
      }
    }
    th {
      text-align: center;
    }

    td {
      color: #000000;
    }
  }
</style>
