<template>
  <div>
    <slide>
      <router-link to="/">Pool Stats</router-link>
      <router-link to="/add-wins">Add Winnner</router-link>
    </slide>
    <div id="nav" class="navigation">
      <router-link to="/">Pool Stats</router-link> |
      <router-link to="/add-wins">Add Winnner</router-link>
    </div>
  </div>
</template>

<script>
  import { Slide } from 'vue-burger-menu';
  
  export default {
    name: "TheNavigation",
    components: {
    Slide
    }
  }
</script>

<style lang="scss">
  .bm-burger-button
  {
  cursor: pointer;
  height: 30px;
  left: 14px;
  position: absolute;
  top: 13px;
  width: 35px;
  }

  @media only screen and (min-width: 768px)
  {
    .navigation
    {
      padding: 15px 30px 15px 30px;
      margin-bottom: 50px;
      border-top: 1px solid #484848;
      border-bottom: 1px solid #484848;
      background-color: #202020;
      a
      {
        font-weight: bold;
        color: #FFFFFF;
        &.router-link-exact-active
        {
        color: #42b983;
        letter-spacing: 3px;
        }
      }
    }
    .bm-burger-button
    {
      display: none;
    }
  }
</style>
