<template>
  <div id="app">
    <h1>POOL STATS</h1>
    <the-navigation />
    <router-view />
  </div>
</template>

<script>
  import TheNavigation from './components/TheNavigation';

  export default {
    components: {
      TheNavigation
    }
  }
</script>

<style lang="scss">
  @import './styles/main';
  #app
  {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background: url(./assets/images/billiards-wallpapers-large.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFFFFF;

    h1 {
      padding: 10px 10px 20px 0;
      font-size: 1.5em;
      font-weight: 900;
      letter-spacing: 10px;
      text-align: right;
    }
  }
  
  @media only screen and (min-width: 768px)
  {
    #app
    {
      h1
      {
        padding: 10px 0 20px 0;
        font-size: 3em;
        text-align: center;
      }
    }
  }
</style>
